*{
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style: none;
  
}

/* BODY */
html,body{
  width: 100%;
  height: 100%;
}
body{
  font-family: sans-serif;
  background-image: url(./image/60977d2c55028.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  

}

/* HEADER */

header{
 
  height: 80px;
  width: 100%;
  border: 2px solid red;
  border-top: none;
  border-right: none;
  border-left: none;
  
}

label.brandname{
  font-family: 'Teko', sans-serif;
  color:white;
  font-size: 30px;
  line-height: 80px;
  padding-left: 30px;
  text-transform: uppercase;
  font-weight: bold;
  
}

header ul{
  float: right;
  margin-right: 20px;
}

header li{
  display: inline-block;
  line-height: 80px;
  margin-right: 100px;
}

header ul li a{
  color: white;  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  padding: 7px 13px;
  border-radius: 10px;
 
}
 
a.active, a:hover {
  background:red;
  transition: .5s;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;

}

#check{
  display: none;
}
@media (max-width: 952px){
  label.brandname{
    font-size: 30px;
    padding-left: 80px;
  }
  header ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
     
  }
  ul{
     
    position: fixed;
    width: 100%;
    height: 100vh;
    background:orange;
    top: 80px;
    left:-100%;
    text-align: center;
    transition: all .5s;
  }
  header ul li{
    display: block;  
    margin: 50px 0;
    line-height: 30px;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
/* SECTION */


h1{
  padding-left: 75px;
  padding-top: 100px;
  font-size: 50px;
  font-family: 'Satisfy', cursive;
  letter-spacing: 3px;
  color:yellow;
 text-transform: lowercase;
 width: 100;
 height: 100%;

}
  
h2{
  padding-left: 100px;
  font-size: 40px;
  font-family: 'Satisfy', cursive;
  color: white;
  font-weight: bold;
  width: 100;
  height: 100%;
  
}

@media (max-width:500 s){
  h1,h2{
    font-size: 35px;
    background-image: url(./image/outdoor-rich-bright-texture-color.jpg);
    background-size: cover;
     
  }
}